**pyc
**swp
**__pycache__
**venv
**config.py
**.cache

# macOS-specific files
.DS_Store

#PyCharm project configuration files
.idea

# Compiled python modules.
*.pyc

# Setuptools distribution folder.
/dist/

/*.egg-info
/*.egg

# Sphinx templates and build
docs/_build
docs/_static
docs/_templates
